// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card_articles{
    background-color: beige;
    width: 100%;
    height: 50%;
    padding: 15px;
  }