// Place all the styles related to the Commnets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.card_comments{
    background-color: beige;
    width: 100%;
    height: 50%;
    padding: 15px;
  }
.user_comments{
    float: right;
    font-style: normal;
    font-style: italic;
    font-style: oblique;
  }